langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.2.0
langgraph>=0.2.0

faiss-cpu
sentence-transformers

GitPython

streamlit
fastapi
uvicorn

python-dotenv
pydantic

tree-sitter

tiktoken

pandas

numpy

watchdog